<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("App"); ?> - <?= $app['name'] ?>
        </h1>
        <?php if ($app['translation_update_request']) : ?>
            <span class="badge">Pending translation update request</span>
        <?php endif; ?>
        <div class="row">
            <input type="hidden" name="csrf" value="gercfnaws,ů" />
            <div class="col-lg-5">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-wrench"></i>
                        <?= Lang::str("App"); ?>
                    </h2>
                    <form method="POST">
                        <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                        <?php foreach ($app as $key => $value) : ?>
                            <div class="field">
                                <label class="label"><?= $key ?></label>
                                <div class="control-group">
                                    <input class="form-control"  required
                                    <?php if (!in_array($key, $app_editable_fields)) : ?>
                                               disabled
                                           <?php endif; ?>
                                           name="<?= $key ?>"  value="<?= $value ?>">
                                </div>
                            </div>
                        <?php endforeach; ?>
                        <input type="submit" class="btn btn-success my-10" value="Save" />
                    </form>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-language"></i>
                        <?= Lang::str("Langs"); ?>
                    </h2>
                    <span class="badge badge-success"> <?= Lang::str("Last upload") ?>: <?= $app['trasnlations_last_upload'] ?></span><br>
                    <strong><?= Lang::str("Translations is available for this langs:"); ?></strong><br />
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <?php foreach (array_keys($langs[0]) as $thead) : ?>
                                        <th><?= ($thead) ?></th>
                                    <?php endforeach; ?>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($langs as $lang) : ?>
                                    <tr>
                                        <?php foreach ($lang as $key => $cell) : ?>
                                            <?php if ($key === "lang_id") : ?>
                                                <th><a href="langs/<?= $cell ?>"><?= $cell ?></a></th>
                                            <?php else: ?>
                                                <td><?= $cell ?></td>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <strong><?= Lang::str("Create new lang for this app:") ?></strong><br />
                    <form method="POST" class="form-inline" action="langs/new?app_id=<?= $app['id'] ?>">
                        <input type="text" class="form-control" name="lang_name" placeholder="lang name"/>
                        <input type="text" class="form-control" name="lang_code" placeholder="lang code"/>
                        <input type="submit" class="btn btn-success btn-sm" value="Create new lang" />
                    </form>
                </div>

                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-secret"></i>
                        <?= Lang::str("Responsible staff"); ?>
                    </h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>id</td>
                                    <th><?= Lang::str("User") ?></th>
                                    <th><?= Lang::str("Position") ?></th>
                                    <th><?= Lang::str("Visible") ?></th>
                                    <th><?= Lang::str("Translations") ?></th>

                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($responsible_staff as $staff) : ?>
                                    <tr>
                                        <td><?= $staff['respon_id'] ?></td>
                                        <td>
                                            <?= ($staff['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $staff['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                            <a href="departments-users/<?= $staff['user_internal_id'] ?>/profile"><?= $staff['login_name'] ?></a>
                                            <small>(<?= $staff['nickname'] ?>)</small>


                                        </td>
                                        <td class="inline_editable" data-element="position"><?= $staff['position'] ?></td>
                                        <td class="inline_editable" data-element="visible"><?= $staff['visible'] ?></td>
                                        <td class="inline_editable" data-element="translations"><?= $staff['translations'] ?></td>

                                        <td>
                                            <a class="btn btn-danger btn-sm" href="apps/<?= $URL_params[0] ?>/deleteStaff/<?= $staff['respon_id'] ?>">
                                                Delete</a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>

                        </table>
                    </div>
                    <span class="badge badge-secondary float-right"><?= Lang::str("Position, Visible, Translations can be edited by double click on it"); ?></span>
                    <button class="btn btn-primary btn-sm" onclick="halfmoon.toggleModal('add-staff')">
                        Add new responsible staff</button>
                </div>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-secret"></i>
                        <?= Lang::str("App group"); ?>
                    </h2>
                    <?php if (count($app_in_group) == 0) : ?>
                        <span class="badge"><?= Lang::str("This app doesn´t belongs to any group") ?></span>
                    <?php else: ?>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <?php foreach ($app_in_group as $dep) : ?>
                                        <tr>
                                            <td>
                                                <?= $dep['group_name'] ?>
                                                (<?= $dep['group_code'] ?>)
                                            </td>

                                        </tr>
                                    <?php endforeach;
                                    ?>
                                </tbody>
                            </table>
                        </div>
                    <?php endif; ?>

                    <h2 class="card-title mt-20">
                        <i class="fas fa-user-secret"></i>
                        <?= Lang::str("App in departments"); ?>
                    </h2>
                    <?php if (count($app_in_departments) == 0) : ?>
                        <span class="badge"><?= Lang::str("This app is not this department") ?></span>
                    <?php else: ?>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <?php foreach ($app_in_departments as $dep) : ?>
                                        <tr>
                                            <td>
                                                <a href="departments/<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?></a>
                                                <small>(<?= $dep['department_code'] ?>)</small>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="apps/<?= $URL_params[0] ?>/remove_department/<?= $dep['department_id'] ?>">
                                                    Remove</a>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    <?php endif; ?>
                    <button class="btn btn-primary btn-sm" onclick="halfmoon.toggleModal('add-department')">
                        <?= Lang::str("Add new department") ?></button>
                    <button class="btn btn-secondary btn-sm" onclick="halfmoon.toggleModal('change-group')">
                        <?= Lang::str("Change group") ?></button>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal" id="add-staff" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="POST" action="apps/<?= $URL_params[0] ?>/addStaff">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <h5 class="modal-title"><?= Lang::str("Add responsible staff"); ?></h5>
                <select class="form-control" name="staff_id" required>
                    <option value="" selected="selected" disabled="disabled">Select</option>
                    <?php foreach ($users as $user): ?>
                        <option value="<?= $user['user_internal_id'] ?>"><?= $user['login_name'] ?>
                            <?= $user['disabled_account'] ? " (disabled)" : "" ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <div class="text-right mt-20">
                    <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                    <input class="btn btn-success" data-dismiss="modal" type="submit" value="<?= Lang::str("Add") ?>" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="add-department" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="POST" action="apps/<?= $URL_params[0] ?>/add-department">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <h5 class="modal-title"><?= Lang::str("Add department to app"); ?></h5>
                <select class="form-control" name="department_id" required>
                    <option value="" selected="selected" disabled="disabled">Select</option>

                    <?php foreach ($all_departments as $dep): ?>
                        <option value="<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?>
                            (<?= $dep['department_code'] ?>)
                        </option>
                    <?php endforeach; ?>
                </select>
                <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                    <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                    <input class="btn btn-success" data-dismiss="modal" type="submit" value="<?= Lang::str("Add") ?>" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="change-group" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="POST" action="apps/<?= $URL_params[0] ?>/change-group">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <h5 class="modal-title"><?= Lang::str("Change app group"); ?></h5>
                <select class="form-control" name="group_id" required>
                    <option value="" selected="selected" disabled="disabled">Select</option>
                    <?php foreach ($all_groups as $dep): ?>
                        <option value="<?= $dep['group_id'] ?>"><?= $dep['group_name'] ?>
                            (<?= $dep['group_code'] ?>)
                        </option>
                    <?php endforeach; ?>
                </select>
                <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                    <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                    <input class="btn btn-success" data-dismiss="modal" type="submit" value="<?= Lang::str("Change") ?>" />
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var elements = document.getElementsByClassName("inline_editable");
        for (var element of elements) {
            //console.log(element);
            element.addEventListener("dblclick", InlineEdit);
        }
    })
    var text;
    function InlineEdit(e) {
        text = e;
        var old = e.target.innerHTML;
        e.target.dataset.old = old;
        e.target.innerHTML = "<input value= " + old + ">";
        $("input").keyup(function (event) {
            if (event.keyCode === 13) {
                save(this);
            }
        });

    }
    var test;
    function save(e) {
        console.log(e)
        test = e;
        $.post("api/set/local/app/uppdate_staff/" + e.parentElement.parentElement.firstElementChild.innerText, {"col": e.parentElement.dataset.element, "data": e.value})
                .done(function () {
                    addNotification("Staff has been updated.", "", "success", 3000);
                    e.parentElement.innerHTML = e.value;
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    addNotification("Request failed", "danger", 6000, "center");
                    addNotification(err, "warning");
                    e.parentElement.innerHTML = e.parentElement.dataset.old;
                });
    }

</script>