
<div class="row">
    <div class="col-sm-10 col-md-5 col-lg-4 offset-sm-1 offset-md-4 offset-lg-4">
        <div class="card">
            <h2 class="card-title text-center">
                <?= $remote_app_name ?>
            </h2>

            <p>
            <form  method="POST" class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                <div class="text-center">
                    <img style="max-height: 80px" src="<?= $user['avatar'] ?>"
                         class="img-fluid rounded-circle m-10" alt="rounded avatar">
                </div>
                <p class="text-center"><strong><?= $user['login_name'] ?></strong>
                    <small> (<?= $user['nickname'] ?>)</small>

                </p>
                <!-- Aligned to center -->

                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <input type="hidden" name="action" value="login" />
                <input<?= $can_login ? "" : " disabled " ?>
                    class="btn btn-primary btn-block" type="submit"
                    value="<?= Lang::str("Log in to app"); ?>"
                    >


            </form>
            </p>
            <a href="dashBoard" class="btn btn-sm btn-secondary my-10"
               type="button"><?= Lang::str("Back to dashboard"); ?>
            </a>
            <a href="logout" class="btn btn-sm btn-danger my-10 float-right"
               type="button"><?= Lang::str("Logout"); ?></a>

        </div>
    </div>
</div>

