<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-toolbox"></i>
            <?= Lang::str("Apps"); ?>
        </h1>
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <?php foreach (array_keys($apps[0]) as $thead) : ?>
                                <th><?= ($thead) ?></th>
                            <?php endforeach; ?>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($apps as $app) : ?>
                            <tr>
                                <?php foreach ($app as $key => $cell) : ?>
                                    <?php if ($key === "id") : ?>
                                        <th><a href="apps/<?= $cell ?>"><?= $cell ?></a></th>
                                    <?php elseif ($key === "responsible_staff") : ?>
                                        <td><?= json_encode($cell) ?></td>
                                    <?php else: ?>
                                        <td><?= $cell ?></td>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>

        </div>
        <a href="apps/generate_new_token" class="btn btn-sm"><?= Lang::str("Generate registering token"); ?></a>
    </div>
</div>

