<?php if (count($invitations) > 0): ?>
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="card">
        <h2 class="card-title">
            <?= Lang::str("Invited to department") ?>
        </h2>
        <p><?= lang::str("You have recieved an invite to join additional department. Please be aware that by accepting an invite, you are allowing heads of the department to view your personal information and manage your account.") ?></p>
        <table class="table">
            <tbody>
                <?php foreach ($invitations as $inv): ?>
                    <tr>
                        <td>
                            Invite to <strong><?= $inv['department_name'] ?></strong>
                            <small>(as <?= $roles[$inv['user_role']] ?>)</small> by
                            <?= $inv['by_login_name']
                            ?> (<?= $inv['by_nickname'] ?>)
                        </td>
                        <td class="text-right">
                            <a href="dashBoard/invitations/<?= $inv['invitation_id'] ?>/reject" class="btn btn-sm btn-danger"><?= Lang::str("Deceline"); ?></a>
                            <a href="dashBoard/invitations/<?= $inv['invitation_id'] ?>/accept" class="btn btn-sm btn-success"><?= Lang::str("Accept"); ?></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>

<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Applications overview") ?>
    </h2>
    <div class = "row">
        <?php foreach ($apps as $category): ?>
            <div class = "col">
                <details class = "collapse-panel w-350 mw-full mt-20" open> <!--w-400 = width: 40rem (400px), mw-full = max-width: 100%, mt-20 = margin-top: 2rem (20px) -->
                    <summary class = "collapse-header">
                        <?= $category[0]['group_name'] ?>
                    </summary>
                    <div class = "collapse-content">
                        <table class="table table-no-outer-padding">
                            <tbody>
                                <?php foreach ($category as $app) : ?>
                                    <tr>
                                        <td>
                                            <a href="auth/<?= $app['app_code'] ?>/auto">
                                                <?= $app['name'] ?>
                                            </a>
                                            <small>
                                                (<?= $app['adress'] ?>)

                                            </small>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown toggle-on-hover">

                                                <i class="fas fa-info-circle ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false"></i>

                                                <div class="dropdown-menu w-250 w-sm-350 dropdown-menu-right">
                                                    <div class="dropdown-content p-20">
                                                        <b>System: </b><?= $app['adress'] ?><br />

                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <div class="dropdown-content p-20">
                                                        <b>Responsible staff:</b><br />
                                                        <?php foreach ($app['responsible_staff'] as $staff) : ?>
                                                            <?php if ($staff['visible']) : ?>
                                                                <?= $staff['position'] ?> - <b><?= $staff['login_name'] ?></b> (<?= $staff['nickname'] ?>)
                                                                <br />
                                                            <?php endif ?>
                                                        <?php endforeach; ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php if (!$app['external'] || $apps_right): ?>
                                                <div class="dropdown toggle-on-hover">

                                                    <i class="fa fa-angle-down ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false"></i>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <?php if (!$app['external']): ?>
                                                            <?php if ($app['can_user_edit_translations']): ?>
                                                                <a class="dropdown-item" href="translations/<?= $app['id'] ?>"><?= Lang::str("Translations") ?></a>
                                                            <?php endif; ?>
                                                <!--<a class="dropdown-item" href="gen-time/<?= $app['id'] ?>"><?= Lang::str("Performance monitor") ?></a>-->
                                                <!--<a class="dropdown-item" href="guides/<?= $app['id'] ?>"><?= Lang::str("Guide") ?></a>-->
                                                            <a class="dropdown-item" href="<?= $app['url'] ?>"><?= Lang::str("Open without auth") ?></a>
                                                        <?php endif; ?>
                                                        <?php if ($apps_right): ?>
                                                            <a class="dropdown-item" href="apps/<?= $app['id'] ?>"><?= Lang::str("App settings") ?></a>
                                                        <?php endif; ?>

                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<?php if (!$_SESSION['adminlogin']['isActive']) : ?>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "007a2a99-738a-4c38-9c70-ae9a5f438c25",
                promptOptions: {
                    /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
                    /* actionMessage limited to 90 characters */
                    actionMessage: "Please allow PUSH notification for messages from LDAP.",
                    /* acceptButtonText limited to 15 characters */
                    acceptButtonText: "ALLOW",
                    /* cancelButtonText limited to 15 characters */
                    cancelButtonText: "NO THANKS"
                }
            });
            OneSignal.showSlidedownPrompt();
        });
        OneSignal.push(function () {
            OneSignal.on('subscriptionChange', function (isSubscribed) {
                if (isSubscribed) {
                    // The user is subscribed
                    //   Either the user subscribed for the first time
                    //   Or the user was subscribed -> unsubscribed -> subscribed
                    OneSignal.getUserId(function (userId) {
                        setUserPUSHdevice(userId);
                    });
                }
            });
            OneSignal.setExternalUserId(<?= $user['user_internal_id'] ?>);
            OneSignal.sendTags({
                user_id: '<?= $user['user_internal_id'] ?>',
                admin_level: '<?= $user['admin_level'] ?>'
            });
            OneSignal.getUserId(function (userId) {
                setUserPUSHdevice(userId);
            });
        });
    </script>
<?php endif; ?>