<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("User profile edit"); ?>
        </h1>
        <?php if ($user_edit['disabled_account']) : ?>
            <span class="font-size-22 badge badge-danger"><?= Lang::str("Account is disabled!"); ?></span>
        <?php endif; ?>
        <?php if ($user_edit['user_internal_id'] < 10) : ?>
            <span class="font-size-22 badge badge-secondary"><?= Lang::str("System account!"); ?></span>
        <?php endif; ?>
        <div class="row">
            <input type="hidden" name="csrf" value="gercfnaws,ů" />
            <div class="col-lg-6">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-edit"></i>
                        <?= Lang::str("Personal informations"); ?>
                    </h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="user_id"><?= Lang::str("User id"); ?></label>
                                <input type="number" class="form-control" id="user_id" value="<?= $user_edit['user_internal_id'] ?>">
                            </div>
                            <div class="form-group">
                                <label for="user_portal_id"><?= Lang::str("User portal id"); ?></label>
                                <input type="number" class="form-control" id="user_portal_id" value="<?= $user_edit['user_portal_id'] ?>">
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <?= Lang::str("Avatar"); ?>
                            <img
                                src="<?= $user_edit['avatar'] ?>" class="img-fluid m-10 pr-20" alt="User avatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login_name"><?= Lang::str("Username"); ?></label>
                        <input required type="text" class="form-control" id="login_name" readonly value="<?= $user_edit['login_name'] ?>">
                    </div>
                    <div class="form-group">
                        <label for="last-login"><?= Lang::str("Last login"); ?></label>
                        <input disbaled type="text" class="form-control" id="last-login" readonly value="<?= $user_edit['timestamp_last_login'] ?>">
                    </div>
                    <?php if ($user['origin'] == "ldap") : ?>
                        <div class="form-group">
                            <label ><?= Lang::str("Email"); ?>l</label>
                            <input class="form-control" type="email" required  value="<?= $user['mail'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Nickname"); ?></label>
                            <input class="form-control" name="nickname" required type="text" value="<?= $user['nickname'] ?>">
                        </div>
                        <div class="form-group">
                            <label class="label"><?= Lang::str("Locale"); ?></label>
                            <input class="form-control" name="locale" required type="text" value="<?= $user['locale'] ?>">
                        </div>
                        <span class="badge"><?= Lang::str("Personal info can be chnage only on portal!"); ?></span>
                    <?php else: ?>
                        <form method="POST" action="departments-users/<?= $URL_params[0] ?>/profile/update_profile">
                            <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                            <div class="form-group">
                                <label ><?= Lang::str("Email"); ?>l</label>
                                <input class="form-control" name="email" type="email" required  value="<?= $user['mail'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Nickname"); ?></label>
                                <input class="form-control" name="nickname" type="text" value="<?= $user['nickname'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Locale"); ?></label>
                                <input class="form-control" name="locale" required type="text" value="<?= $user['locale'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Real name"); ?></label>
                                <input class="form-control" name="real_name"  type="text" value="<?= $user_data['real_name'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Telephone"); ?></label>
                                <input class="form-control" name="phone"  type="tel" value="<?= $user_data['phone'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Address"); ?></label>
                                <input class="form-control" name="address"  type="text" value="<?= $user_data['address'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Country"); ?></label>
                                <input class="form-control" name="country"  type="text" value="<?= $user_data['country'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("City"); ?></label>
                                <input class="form-control" name="city"  type="text" value="<?= $user_data['city'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Company"); ?></label>
                                <input class="form-control" name="company"  type="text" value="<?= $user_data['company'] ?>">
                            </div>
                            <div class="form-group">
                                <label class="label"><?= Lang::str("Gender"); ?></label>
                                <input class="form-control" name="gender"  type="text" value="<?= $user_data['gender'] ?>">
                            </div>
                            <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Save") ?>" />
                        </form>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col-lg-6">
                <?php if (USINGDEPARTMENTS) : ?>
                    <div class="card">
                        <h2 class="card-title">
                            <i class="fas fa-sliders-h"></i>
                            <?= Lang::str("User departements"); ?>

                        </h2>
                        <div class="table-responsive">
                            <table class="table table-hover">

                                <tbody>
                                    <?php if (count($departemnts) == 0) : ?>
                                    <span class="badge"><?= Lang::str("User has no department") ?></span>
                                <?php else: ?>
                                    <?php foreach ($departemnts as $dep) : ?>
                                        <tr>
                                            <td>
                                                <strong><?= $dep['department_name'] ?></strong>
                                                <small>(<?= $dep['department_code'] ?>)</small>
                                                <?php $assigned_departements[] = $dep['department_code']; ?>

                                            </td>
                                            <td>
                                                <?= $roles[$dep['user_role']] ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-list"></i>
                        <?= Lang::str("Actions"); ?>
                    </h2>
                    <a href="departments-users/<?= $URL_params[0] ?>/profile/reset-password" class="btn btn-primary btn-sm my-10" ><i class="fas fa-key" aria-hidden="true"></i> <?= Lang::str("Send password reset mail"); ?></a>
                    <a href="departments-users/<?= $URL_params[0] ?>/profile/logout-everywhere" class="btn btn-danger btn-sm disabled my-10" disabled><i class="fas fa-eraser"></i> <?= Lang::str("Log out from all apps"); ?></a>

                </div>
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("Rights"); ?>
                    </h2>
                    <div class="form-group">

                        <label class="label"><?= Lang::str("Ldap role"); ?></label>
                        <select class="form-control" id="admin_level" name="admin_level" readonly>
                            <option value="0" <?= ($user_edit['admin_level'] == 0 ? "selected" : "") ?>><?= Lang::str("Guest") ?></option>
                            <option value="1"  <?= ($user_edit['admin_level'] == 1 ? "selected" : "") ?>><?= Lang::str("Member") ?></option>
                            <option value="2"  <?= ($user_edit['admin_level'] == 2 ? "selected" : "") ?>><?= Lang::str("Admin") ?></option>
                            <option value="3"  <?= ($user_edit['admin_level'] == 3 ? "selected" : "") ?>><?= Lang::str("Head") ?></option>
                            <option value="4"  <?= ($user_edit['admin_level'] == 4 ? "selected" : "") ?>><?= Lang::str("Developer") ?></option>
                            <option value="5"  <?= ($user_edit['admin_level'] > 4 ? "selected" : "") ?>><?= Lang::str("Master developer") ?></option>
                        </select>
                    </div>


                    <a href="departments-users/<?= $URL_params[0] ?>/rights" class="btn"><?= lang::str("User rights"); ?></a>

                </div>
            </div>

        </div>

        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    <?= Lang::str("Active sessions"); ?>
                </h2>
                <a class="btn btn-danger" href="admin/<?= $URL_params[0] ?>/disable_sessions"><?= Lang::str("Disable all user sessions") ?></a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($sessions[0]) as $thead) : ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($sessions as $sess) : ?>
                                <tr class="
                                <?php if ($sess['sess_expire'] < time() || $sess['valid'] == 0): ?>
                                        table-danger
                                    <?php else : ?>
                                        table-success
                                    <?php endif; ?>
                                    ">
                                        <?php foreach ($sess as $key => $cell) : ?>
                                            <?php if ($key === "sess_id") : ?>
                                            <th><a href="admin/<?= $URL_params[0] ?>/disable_session/<?= $cell ?>"><?= Lang::str("Kill session") ?></a></th>
                                        <?php elseif ($key === "sess_token") : ?>
                                            <td><?= substr($cell, 0, 7); ?>
                                                <?php if ($cell == $_COOKIE[SESSIONID]) : ?>

                                                <?php endif; ?>

                                            </td>
                                        <?php elseif ($key === "sess_expire") : ?>
                                            <td><?= date("Y-m-d H:i:s", $cell) ?></td>
                                        <?php else: ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <a href="admin/<?= $URL_params[0] ?>/disable_sessions"><?= Lang::str("Disable all user sessions") ?></a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <h2 class="card-title">
                    <i class="fas fa-user-secret"></i>
                    <?= Lang::str("Active tokens"); ?>
                </h2>
                <a class="btn btn-danger" href="admin/<?= $URL_params[0] ?>/disable_tokens"><?= Lang::str("Disable all user tokens") ?></a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($tokens[0]) as $thead) : ?>
                                    <th><?= Lang::str($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($tokens as $sess) : ?>
                                <tr class="
                                <?php if (($sess['token_expire']) < time()): ?>
                                        table-danger
                                    <?php else : ?>
                                        table-success
                                    <?php endif; ?>
                                    ">
                                        <?php foreach ($sess as $key => $cell) : ?>
                                            <?php if ($key === "token_id") : ?>
                                            <th><a href="admin/<?= $URL_params[0] ?>/disable_token/<?= $cell ?>"><?= Lang::str("Disable token") ?></a></th>
                                        <?php elseif ($key === "token_value") : ?>
                                            <td><?= substr($cell, 0, 10); ?>
                                                <?php if ($cell == $_COOKIE[SESSIONID]) : ?>

                                                <?php endif; ?>

                                            </td>

                                        <?php else: ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <a  href="admin/<?= $URL_params[0] ?>/disable_tokens"><?= Lang::str("Disable all user tokens") ?></a>
            </div>
        </div>
    </div>
</div>

