<div class = "container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer");
    ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("User apps access edit"); ?>
        </h1>
        <?php if ($user_edit['disabled_account']) : ?>
            <span class="font-size-22 badge badge-danger"><?= Lang::str("Account is disabled!"); ?></span>
        <?php endif; ?>
        <?php if ($user_edit['user_internal_id'] < 10) : ?>
            <span class="font-size-22 badge badge-secondary"><?= Lang::str("System account!"); ?></span>
        <?php endif; ?>



        <div class="card">
            <h2 class="card-title">
                <i class="fas fa-sliders-h"></i>
                <?= Lang::str("Apps and rights for user"); ?> - <?= $user_edit['login_name'] ?>
            </h2>

            <?php foreach ($rights as $key => $value) : ?>
                <div class="form-group">
                    <div class="custom-switch">
                        <input type="checkbox" id="<?= $key ?>" data-changeable="true"
                               data-name="<?= $value['name'] ?>"

                               <?php if ($value['value'] > 0) : ?>
                                   checked
                               <?php endif; ?>
                               <?php if ($value['app']['disabled']) : ?>
                                   disabled
                               <?php endif; ?> />
                        <label for="<?= $key ?>"><?= $value['app']['name'] ?></label>
                        <div class="form-text">
                            <button
                            <?php if ($value['app']['disabled'] || $value['app']['external']) : ?>
                                    disabled
                                <?php endif; ?>
                                class="btn btn-sm" data-open="true"
                                data-name="<?= $value['name'] ?>">
                                    <?= Lang::str("Manage in app rights"); ?>
                            </button>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<div class="modal" id="rights-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="
             width: 60%;
             ">
            <button class="close" data-dismissModal="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title text-center">Confirm changes for user - <?= $user_edit['login_name'] ?></h5>
            <p class="text-center">
            </p>
            <li></li>
            <form method="POST" id="manage_rights" action="departments-users/<?= $URL_params[0] ?>/rights/manage_rights">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <input type="hidden" name="action" />
                <input type="hidden" name="data" />
                <div id="in_app_rights"></div>
            </form>
            <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                <button class="btn mr-5" data-dismissModal="modal" type="button">Cancel</button>
                <button class="btn mr-5 btn-success" disabled id="modal_confirm"  type="button">Ok</button>

            </div>
        </div>
    </div>
</div>

<script>
    var rights = <?= json_encode($rights) ?>;
    var csrf = '<?= $csrf ?>';
    var test;
    var form_data = document.getElementById("in_app_rights");
    var modal = document.getElementById("rights-modal");
    var modal_confirm_btn = document.getElementById("modal_confirm");
    var form = document.getElementById("manage_rights");
    var action = document.getElementsByName("action")[0];
    var data = document.getElementsByName("data")[0];
    var text_right_add = '<?= Lang::str("Are you sure you wish to <strong class=\"text-success\">add</strong> following to selected user?"); ?>';
    var text_right_remove = '<?= Lang::str("Are you sure you wish to <strong class=\"text-danger\">remove</strong> following from selected user?"); ?>';
    var text_right_remove_shared = '(<small><?= Lang::str("This app is shared app! If user is not exclusively in departments that you are control, do not remove this right unless you asked other users´ departments heads. <strong>Always remove inapp rights first</strong>!") ?></small>)'
    var text_right_in_app = '<?= Lang::str("You are managing user rights in app for selected user. <small>Please note that some rights can be granted only by devs, if you think that you need to grant some of them feel free to create ticket and ask for it.</small>"); ?>';
    document.querySelectorAll('input[data-changeable="true"]').forEach(function (elm) {
        elm.addEventListener('change', right_changed)
    })
    document.querySelectorAll('button[data-open="true"]').forEach(function (elm) {
        elm.addEventListener('click', in_app_rights)
    })
    document.querySelectorAll('[data-dismissModal="modal"]').forEach(function (elm) {
        elm.addEventListener('click', dismiss_modal)
    })
    function right_changed(target) {
        halfmoon.toggleModal("rights-modal");
        var responsible_staff_string = "jakub";
        var id = target.target.dataset.name;
        if (rights[id].value == 0) {
            modal.getElementsByTagName("p")[0].innerHTML = text_right_add;
            action.value = "add_right"
        } else {
            if (rights[id].app.using_departments === 1) {
                modal.getElementsByTagName("p")[0].innerHTML = text_right_remove + "<br>" + text_right_remove_shared;
            } else {
                modal.getElementsByTagName("p")[0].innerHTML = text_right_remove

            }

            action.value = "remove_right"
        }
        modal.getElementsByTagName("li")[0].innerHTML = "<strong>"
                + rights[id].app.name + "</strong> (member) <small><span class=\"text-danger\">"
                + "<?= Lang::str("Responsible staff (some of them can also manage all rights) are:") ?> "
                + responsible_staff_string + "</span></small>";
        data.value = target.target.dataset.name;
        form.action = 'departments-users/<?= $URL_params[0] ?>/rights/manage_rights'
        form_data.innerHTML = ''
        modal_confirm_btn.addEventListener("click", function (target) {
            form.submit()
        })
        modal_confirm_btn.disabled = false;
    }
    function in_app_rights(target) {
        test = target
        halfmoon.toggleModal("rights-modal");
        var id = target.target.dataset.name;
        var responsible_staff_string = "jakub";
        action.value = "in_app_rights"
        modal.getElementsByTagName("p")[0].innerHTML = text_right_in_app;
        modal.getElementsByTagName("li")[0].innerHTML = "<strong>"
                + rights[id].app.name + "</strong> (user there as <span id=\"position\"></span>) <small><span class=\"text-danger\">"
                + "<?= Lang::str("Responsible staff (some of them can also manage all rights) are:") ?> <span id=\"respon_staff\"> "
                + responsible_staff_string + "</span></span></small>";
        form_data.innerHTML = '<div class="progress h-25"> <div class="progress-bar w-three-quarter rounded-0 progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Loading</div></div>'
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                prepareForm(xhr.responseText, xhr.status, form_data, id);
            }
        };
        xhr.open('GET', '/api/get/remote/user/rights/' + id + "/<?= $URL_params[0] ?>");
        xhr.send();
    }

    function prepareForm(responseText, status, form_data, id) {
        if (status != 200) {
            addNotification("<?= Lang::str("Unable to get remote rights") ?>", "<?= Lang::str("Request error") ?>", "danger", 50000)
            addNotification(responseText, "<?= Lang::str("Debug message") ?>", "primary", 2000, true, "")
            form_data.innerHTML = "";
            data.value = ""
            action.value = ""
            halfmoon.toggleModal("rights-modal");
        } else {
            modal_confirm_btn.disabled = false;
            action.value = "remote_rights"
            data.value = id
            var parsed = JSON.parse(responseText)
            form_data.innerHTML = parsed.data.html
            document.getElementById("respon_staff").innerHTML = parsed.data.respon_staff
            document.getElementById("position").innerHTML = parsed.data.position
            form.action = 'departments-users/<?= $URL_params[0] ?>/rights/in_app_rights'
            modal_confirm_btn.addEventListener("click", function (target) {
                form.submit()
            })
        }
    }

    function dismiss_modal(target) {
        if (action.value == "add_right") {
            document.querySelector('input[data-name="' + data.value + '"]').checked = false;
            modal_confirm_btn.removeEventListener("click", function (target) {
                form.submit()
            })
            modal_confirm_btn.disabled = true;
        } else if (action.value == "remove_right") {
            document.querySelector('input[data-name="' + data.value + '"]').checked = true;
            modal_confirm_btn.removeEventListener("click", function (target) {
                form.submit()
            })
            modal_confirm_btn.disabled = true;

        } else {

            modal_confirm_btn.disabled = true;
        }
        addNotification("<?= Lang::str("Right change has not been saved!") ?>", "<?= Lang::str("Action aborted") ?>", "danger", 5000)
        data.value = ""
        action.value = ""
        form_data.innerHTML = "";
        halfmoon.toggleModal("rights-modal");
    }
</script>