<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Department view"); ?>
        </h1>

        <div class="row">
            <input type="hidden" name="csrf" value="gercfnaws,ů" />
            <div class="col-lg-12">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-user-edit"></i>
                        <?= Lang::str("Department informations"); ?>
                    </h2>
                    <div class="row">

                        <div class="form-group mx-10">
                            <label for="department_id"><?= Lang::str("Id"); ?></label>
                            <input type="number" class="form-control" id="department_id" disabled value="<?= $department['department_id'] ?>">
                        </div>
                        <div class="form-group mx-10">
                            <label for="department_name"><?= Lang::str("Name"); ?></label>
                            <input type="text" class="form-control" name="department_name" value=" <?= $department['department_name'] ?> ">
                        </div>
                        <div class="form-group mx-10">
                            <label for="department_code"><?= Lang::str("Code"); ?></label>
                            <input type="text" class="form-control" name="department_code" value=" <?= $department['department_code'] ?> ">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7">

                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("Users in departement"); ?>

                    </h2>
                    <span class="badge badge-secondary"><?= Lang::str("Did you remove all user rights before remove from department?"); ?></span>
                    <div class="table-responsive">
                        <table class="table table-hover">

                            <tbody>
                                <?php if (count($users_in_department) == 0) : ?>
                                <span class="badge"><?= Lang::str("No users in this department") ?></span>
                            <?php else: ?>
                                <?php foreach ($users_in_department as $dep) : ?>
                                    <tr>
                                        <td>
                                            <?= ($dep['avatar'] != null ? "<img style=\"max-height: 30px\" src=\"" . $dep['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                            <a href="departments-users/<?= $dep['user_internal_id'] ?>/profile"><?= $dep['login_name'] ?></a>
                                            <small>(<?= $dep['nickname'] ?>)</small>


                                        </td>
                                        <td>
                                            <form method="POST" action="departments/<?= $URL_params[0] ?>/change_role/<?= $dep['user_internal_id'] ?>">
                                                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                                                <select class="form-control"  name="admin_level">
                                                    <option disabled value="-1" <?= ($user_edit['admin_level'] == -1 ? "selected" : "") ?>><?= Lang::str("System") ?></option>
                                                    <option value="0" <?= ($dep['user_role'] == 0 ? "selected" : "") ?>><?= Lang::str("Guest") ?></option>
                                                    <option value="1"  <?= ($dep['user_role'] == 1 ? "selected" : "") ?>><?= Lang::str("Member") ?></option>
                                                    <option value="2"  <?= ($dep['user_role'] == 2 ? "selected" : "") ?>><?= Lang::str("Admin") ?></option>
                                                    <option value="3"  <?= ($dep['user_role'] == 3 ? "selected" : "") ?>><?= Lang::str("Head") ?></option>
                                                    <option value="4"  <?= ($dep['user_role'] == 4 ? "selected" : "") ?>><?= Lang::str("Developer") ?></option>
                                                    <option value="<?= $dep['user_role'] ?>"  <?= ($dep['user_role'] > 4 ? "selected" : "") ?>><?= Lang::str("Master developer") ?></option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="departments/<?= $URL_params[0] ?>/remove_user/<?= $dep['user_internal_id'] ?>"
                                                   class="btn btn-sm btn-danger"><?= Lang::str("Remove"); ?></a>
                                            </small>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            </tbody>
                        </table>
                        <span class="badge badge-secondary"><?= Lang::str("Did you remove all user rights before remove from department?"); ?></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("Apps in department"); ?>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover">

                            <tbody>
                                <?php if (count($apps_in_department) == 0) : ?>
                                <span class="badge"><?= Lang::str("No app in this department") ?></span>
                            <?php else: ?>
                                <?php foreach ($apps_in_department as $dep) : ?>
                                    <tr>
                                        <td>
                                            <a href="apps/<?= $dep['apps_id'] ?>"><?= $dep['name'] ?></a>
                                            <small>(<?= $dep['app_code'] ?>)</small>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <h2 class="card-title">
                        <i class="fas fa-sliders-h"></i>
                        <?= Lang::str("Invitations"); ?>
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover">

                            <tbody>
                                <?php if (count($invitations) == 0) : ?>
                                <span class="badge"><?= Lang::str("No invitation in this department") ?></span>
                            <?php else: ?>
                                <?php foreach ($invitations as $dep) : ?>
                                    <tr>
                                        <td>
                                            <?= $dep['login_name']
                                            ?> (<?= $dep['nickname'] ?>) invited to <strong><?= $dep['department_name'] ?></strong>
                                            <small>(as <?= $roles[$dep['user_role']] ?>)</small> by
                                            <?= $dep['by_login_name']
                                            ?> (<?= $dep['by_nickname'] ?>)
                                        </td>
                                        <td><?= $dep['invitation_status'] ?></td>
                                        <td>
                                            <?php if ($dep['invitation_status'] == "pending") : ?>
                                                <a href="departments/<?= $URL_params[0] ?>/invitaion_withdraw/<?= $dep['invitation_id'] ?>" class="btn btn-sm btn-danger">
                                                    <?= Lang::str("Withdraw") ?>
                                                </a>
                                            <?php endif; ?>
                                        </td>
                                        <td>
                                            <?= $dep['invitation_created'] ?>
                                        </td>
                                    </tr>
                                <?php endforeach;
                                ?>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var elements = document.getElementsByName("admin_level");
        for (var element of elements) {
            console.log(element);
            element.addEventListener("change", Department_admin_level);
        }
    })
    var test;
    function Department_admin_level(e) {
        test = e.target.parentElement.submit();
    }
</script>