<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-toolbox"></i>
            <?= Lang::str("Departments"); ?>
        </h1>
        <div class="card">
            <?php if ($can_edit): ?>
                <a href="departments/all" class="btn btn-sm btn-primary my-20"><?= Lang::str("Display all"); ?></a>
            <?php endif; ?>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><?= Lang::str("Id") ?></th>
                            <th><?= Lang::str("Name") ?></th>
                            <th><?= Lang::str("My role") ?></th>

                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($departments as $usr) : ?>
                            <tr class="
                            <?php if ($usr['user_internal_id'] < 10): ?>
                                    table-secondary
                                <?php elseif ($usr['disabled_account'] == 1): ?>
                                    table-danger
                                <?php elseif ($usr['admin_level'] > 3): ?>
                                    table-primary
                                <?php endif; ?>
                                ">
                                <th>
                                    <a href="departments/<?= $usr['department_id'] ?>">
                                        <?= $usr['department_id'] ?></a></th>



                                <td><?= $usr['department_name'] ?> <small>(<?= $usr['department_code'] ?>)</small></td>
                                <td><?= $roles[$usr['user_role']] ?></td>


                            </tr>
                        <?php endforeach; ?>
                    </tbody>

                </table>
            </div>

            <?php if ($can_edit): ?>
                <a href="departments/all" class="btn btn-sm btn-primary my-20"><?= Lang::str("Display all"); ?></a>
            <?php endif; ?>

            <?php if ($can_create): ?>
                <button class="btn btn-secondary btn-sm" onclick="halfmoon.toggleModal('create-department')">
                    <?= Lang::str("Create new department"); ?>
                </button>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php if ($can_create): ?>
    <div class="modal" id="create-department" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form method="POST" action="departments/all/create_new">
                    <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                    <h5 class="modal-title"><?= Lang::str("Create new department"); ?></h5>
                    <div class="form-group">
                        <label for="name" class="required"><?= Lang::str("Department name"); ?></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Test department" required="required">
                    </div>
                    <div class="form-group">
                        <label for="code" class="required"><?= Lang::str("Department code"); ?></label>
                        <input type="text" class="form-control" id="code" name="code" pattern="[a-z_]{5,15}" placeholder="test_department" required="required">
                        <div class="form-text"><small>
                                <?= Lang::str("From 5 to 15 lowercase character (for space you can use '_' undescore)"); ?>
                            </small></div>
                    </div>
                    <div class="text-right mt-20">
                        <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                        <input class="btn btn-success"  type="submit" value="<?= Lang::str("Create") ?>" />
                    </div>
                </form>
            </div>
        </div>
    </div>
<?php endif; ?>