<div class="container-fluid">
    <?php $roles = array("guest", "member", "admin", "head", "developer", "master developer"); ?>
    <div class="content">
        <h1 class="content-title font-size-22">
            <i class="fas fa-user"></i>
            <?= Lang::str("Users"); ?>
            <button class="btn btn-sm  float-right mx-10"
                    onclick="halfmoon.toggleModal('invite-user')">
                        <?= Lang::str("Invite user to department"); ?>
            </button>
            <?php if (count($departments_head) > 0): ?>
                <button class="btn btn-sm  float-right mx-10"
                        onclick="halfmoon.toggleModal('create-user')">
                            <?= Lang::str("Create new user"); ?>
                </button>
            <?php endif; ?>
        </h1>

        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <th><?= Lang::str("Username") ?></th>
                            <th class="hidden-md-and-down"><?= Lang::str("Created") ?></th>
                            <th><?= Lang::str("Departments") ?></th>
                            <th><?= Lang::str("Action") ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($users as $usr) : ?>
                            <?php $is_admin_for_this_user = false; ?>
                            <tr class="
                            <?php if ($usr['disabled_account'] == 1): ?>
                                    table-danger
                                <?php endif; ?>
                                ">
                                <td>
                                    <?= ($usr['avatar'] != null ? "<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                                </td>
                                <td>
                                    <a href="departments-users/<?= $usr['user_internal_id'] ?>/profile">
                                        <?= $usr['login_name'] ?>
                                    </a>
                                </td>

                                <td class="hidden-md-and-down"><?= $usr['timestamp_registered'] ?></td>
                                <td>
                                    <div class="dropdown toggle-on-hover dropright with-arrow">

                                        <i class="fas fa-info-circle ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
                                            <?= count($usr['departments']) ?>
                                        </i>

                                        <div class="dropdown-menu  dropdown-menu-center">
                                            <div class="dropdown-content p-20">
                                                <b><?= Lang::str("Assigned departments"); ?>:</b><br /><br />
                                                <?php foreach ($usr['departments'] as $dep) : ?>
                                                    <?php
                                                    if (isset($departments_head[$dep['department_id']])) {
                                                        $is_admin_for_this_user = true;
                                                    }
                                                    ?>
                                                    <a href = "departments/<?= $dep['department_id'] ?>">
                                                        <?= $dep['department_name'] ?></a> - <?= $roles[$dep['user_role']] ?>
                                                    <br />
                                                <?php endforeach; ?>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <a class="btn btn-sm " href="departments-users/<?= $usr['user_internal_id'] ?>/rights">
                                        <?= Lang::str("Rights") ?>
                                    </a>
                                    <?php if ($is_admin_for_this_user): ?>
                                        <a class="btn btn-sm" href="departments-users/<?= $usr['user_internal_id'] ?>/profile">
                                            <?= Lang::str("Profile") ?>
                                        </a>
                                        <a class="btn btn-sm" href="departments-users/<?= $usr['user_internal_id'] ?>/log">
                                            <?= Lang::str("Log") ?>
                                        </a>
                                    <?php endif; ?>
                                </td>

                            </tr>
                        <?php endforeach; ?>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="invite-user" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title"><?= Lang::str("Invite user to department"); ?></h5>
            <p>
            <form method="POST" action="departments-users/invite-user">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <div class="form-group">
                    <label for="username" class="required"><?= Lang::str("Username"); ?></label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required">
                    <div class="form-text">
                        Only alphanumeric characters, dots and underscores allowed.
                    </div>
                </div>
                <div class="form-group">
                    <label class="required"><?= Lang::str("Select department"); ?></label>
                    <select class="form-control" required name="department">
                        <?php foreach ($departments_admin as $dep) : ?>

                            <option value="<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?> (<?= $dep['department_code'] ?>)</option>
                        <?php endforeach; ?>

                    </select>
                    <label class="required"><?= Lang::str("Select role"); ?></label>
                    <select class="form-control" required name="role">

                        <?php foreach ($roles as $key => $role) : ?>
                            <option value="<?= $key ?>"><?= $role ?></option>
                        <?php endforeach; ?>

                    </select>
                    <div class="form-text">
                        You can select only lower role that you have in selected department.
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="<?= Lang::str("Invite") ?>" />
                </div>
            </form>
            </p>
            <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="create-user" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title"><?= Lang::str("Create new user"); ?></h5>
            <form method="POST" action="departments-users/create-user">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <div class="form-group">
                    <label class="required"><?= Lang::str("Select department"); ?></label>
                    <select class="form-control" required name="department">
                        <?php foreach ($departments_admin as $dep) : ?>

                            <option value="<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?> (<?= $dep['department_code'] ?>)</option>
                        <?php endforeach; ?>

                    </select>
                    <label class="required"><?= Lang::str("Select role"); ?></label>
                    <select class="form-control" required name="role">

                        <?php foreach ($roles as $key => $role) : ?>
                            <option value="<?= $key ?>"><?= $role ?></option>
                        <?php endforeach; ?>

                    </select>
                    <div class="form-text">
                        You can select only lower role that you have in selected department.
                    </div>
                </div>
                <div class="form-group">
                    <label class="label required" for="login_name"><?= Lang::str("Username"); ?> (<?= Lang::str("login name"); ?>)</label>
                    <input required type="text" class="form-control" name="login_name" required />
                    <div class="form-text">
                        Only alphanumeric characters, dots and underscores allowed.
                    </div>
                </div>
                <div class="form-group">
                    <label class="label required"><?= Lang::str("Email"); ?>l</label>
                    <input class="form-control" type="email" name="email" required  />
                </div>
                <div class="form-group">
                    <label class="label required"><?= Lang::str("Locale"); ?></label>
                    <input class="form-control" name="locale" required type="text" value="cs">
                </div>
                <span class="badge badge-secondary"><?= Lang::str("Please do not forgot to fill all user informations on user profile! Empty profile will cause impossibility to login to some applications that contain personal idetifiable informations!"); ?></span>

                <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                    <button class="btn mr-5" data-dismiss="modal" type="button">Close</button>
                    <input type="submit" class="btn btn-success" value="<?= Lang::str("Create user") ?>" />
                </div>
            </form>
        </div>
    </div>
</div>


