<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Lang edit") ?>
    </h2>
    <form method="POST">
        <?php foreach ($lang as $key => $value) : ?>
            <div class="field">
                <label class="label"><?= $key ?></label>
                <div class="control">
                    <input class="form-control" required

                           name="<?= $key ?>"  value="<?= $value ?>">
                </div>
            </div>
        <?php endforeach; ?>
        <input type="submit" class="btn btn-success my-10" value="<?= Lang::str("Save") ?>" />
    </form>
</div>