<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Langs overview") ?>
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <?php foreach (array_keys($langs[0]) as $thead) : ?>
                        <th><?= ($thead) ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($langs as $user) : ?>
                    <tr>
                        <?php foreach ($user as $key => $cell) : ?>
                            <?php if ($key === "lang_id") : ?>
                                <th><a href="langs/<?= $cell ?>"><?= $cell ?></a></th>
                            <?php elseif ($key === "app_id") : ?>
                                <td><a href="apps/<?= $cell ?>"><?= $cell ?></a></td>
                            <?php else: ?>
                                <td><?= $cell ?></td>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>

        </table>
    </div>
</div>

