<?php

$mbox = imap_open("{imap.hosting90.cz}", "admin@agilitysalt.eu", "Alit16")
        or die("can't connect: " . imap_last_error());

echo "<h1>Mailboxes</h1>\n";
$folders = imap_listmailbox($mbox, "{imap.hosting90.cz:143}", "*");

if ($folders == false) {
    echo "Call failed<br />\n";
} else {
    foreach ($folders as $val) {
        echo $val . "<br />\n";
    }
}

echo "<h1>Headers in INBOX</h1>\n";
$headers = imap_headers($mbox);

if ($headers == false) {
    echo "Call failed<br />\n";
} else {
    foreach ($headers as $val) {
        echo $val . "<br />\n";
    }
}
var_dump(imap_headerinfo($mbox, 47));
echo('<h1>BODy:</h1>');
var_dump(imap_body($mbox, 47));

imap_close($mbox);
?>