<div class="card">
    <header class="card-header">
        <h2 class="card-title">
            Translations for <?= $app['name'] ?>
        </h2>
        <?php if ($app['translation_update_request']) : ?>
            <span class="badge badge-primary badge-pill" onclick="ajax_abort_update_request(<?= $app['id'] ?>)">Pending update request</span>
        <?php else : ?>
            <span class="badge badge-success" onclick="ajax_request_update(<?= $app['id'] ?>)" >
                Request upload to app
            </span>
        <?php endif; ?>
    </header>
    <div class="card-content">
        <div class="content">
            <span class="badge badge-success float-right"> Last upload: <?= $app['trasnlations_last_upload'] ?></span><br>
            <strong>Translations is available for this langs:</strong><br />
            <?php foreach ($supported_lang as $lang) : ?>
                <a href='translations/<?= $app['id'] ?>/<?= $lang['lang_code'] ?>'><?= $lang['lang_name'] ?></a> - <?= $lang['lang_code'] ?>
                <?php if (!$lang['lang_can_be_uploaded']) : ?>
                    <span class="badge badge-warning">Can not be downloaded to app (possibly waiting for all translations)</span>
                <?php endif; ?>
                <br />
            <?php endforeach; ?>
        </div>
    </div>
    <div class="card-content">
        <div class="content">
            <div class="table-responsive">
                <h5 class="font-size-18">Missing translations:</h5>
                <?php if (count($missing_translations) > 0) : ?>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lang</th>
                                <th>Original</th>
                                <th>Translation</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php foreach ($missing_translations as $tran) : ?>
                                <tr id="miss_tran_<?= $tran['tran_id'] ?>">
                                    <td><?= $tran['lang_code'] ?></td>
                                    <td  data-toggle="tooltip" data-title="<?= $tran['original'] ?>">
                                        <?= substr($tran['original'], 0, 20) ?>
                                        <?php if (strlen($tran['original']) > 19) echo('...'); ?>

                                    </td>
                                    <td><input class="form-control form-control-sm" id="tran_input_<?= $tran['tran_id'] ?>" value="<?= $tran['translations'] ?>" /></td>
                                    <td>
                                        <button class="btn btn-success btn-sm "
                                                onclick="update_translation(<?= $tran['tran_id'] ?>)">
                                            Save
                                            <i class="fas fa-check"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm   "
                                                onclick="open_translation(<?= $tran['tran_id'] ?>)">
                                            Open
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                <?php else : ?>
                    <p><span class="badge badge-warning">There is no missing translations! :)</span></p>
                <?php endif; ?>
            </div>
        </div>
    </div>

    <div class="card-content">
        <div class="content">
            <div class="table-responsive">
                <h5 class="font-size-18">Translations:</h5>
                <?php if (count($translations) > 0) : ?>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lang</th>
                                <th>Original</th>
                                <th>Translation</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php foreach ($translations as $tran) : ?>
                                <tr id="miss_tran_<?= $tran['tran_id'] ?>">
                                    <td><?= $tran['lang_code'] ?></td>
                                    <td  data-toggle="tooltip" data-title="<?= $tran['original'] ?>">
                                        <?= substr($tran['original'], 0, 20) ?>
                                        <?php if (strlen($tran['original']) > 19) echo('...'); ?>

                                    </td>
                                    <td><input class="form-control form-control-sm" id="tran_input_<?= $tran['tran_id'] ?>" value="<?= $tran['translations'] ?>" /></td>
                                    <td>
                                        <button class="btn btn-success btn-sm "
                                                onclick="update_translation(<?= $tran['tran_id'] ?>)">
                                            Save
                                            <i class="fas fa-check"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm   "
                                                onclick="open_translation(<?= $tran['tran_id'] ?>)">
                                            Open
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                <?php else : ?>
                    <p><span class="badge badge-warning">There is no string for translations! :)</span></p>
                <?php endif; ?>
            </div>
        </div>
    </div>

</div>
<div class="modal modal-full ie-scroll-fix" id="translations" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title"><?= Lang::str("Translations edit:") ?></h5>
            <p>
                <input type="hidden" value="" id="modal_input_id"/>
                <label class="label"><?= Lang::str("Original"); ?>:</label>
            <div class="control">
                <textarea class="textarea form-control" disabled id="modal_original"></textarea>
            </div>
            <label class="label"><?= Lang::str("Translations") ?>:</label>
            <div class="control">
                <textarea class="textarea form-control" id="modal_translations"></textarea>
            </div>
            </p>
            <div class="text-right mt-20">
                <button class="btn mr-5" data-dismiss="modal" type="button"><?= Lang::str("Close"); ?></button>
                <button class="btn btn-success" onclick="update_translations_modal();" data-dismiss="modal" type="button"><?= Lang::str("Save changes"); ?></button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/jodit.min.css">
<script src="js/jodit.min.js"></script>

<script>
                    function open_translation($id) {
                        change_modal_visibility();
                        $('.modal-card-body').prepend('<progress class="progress is-primary" max="100">15%</progress>');
                        $.getJSON("api/get/local/translations/" + $id)
                                .done(function (result) {
                                    if (result.status === "success") {
                                        if (document.getElementsByClassName("jodit_container").length != 0) {
                                            document.getElementsByClassName("jodit_container")[0].parentNode.removeChild(document.getElementsByClassName("jodit_container")[0]);
                                            document.getElementById("modal_translations").style['display'] = "";
                                        }
                                        $('#modal_original').text(result.data.original);
                                        $('#modal_translations').val(result.data.translations);
                                        $('#modal_lang').text(result.data.lang_name + " (" + result.data.lang_code + ")");
                                        $('#modal_input_id').val($id);
                                        if (result.data.rich_editor === 1) {
                                            var editor = new Jodit("textarea[id=modal_translations]");
                                        }
                                        $('progress').remove();
                                    } else {
                                        addNotification("Canot open translation!", "", "danger", 6000, "center");
                                        addNotification(result.status, "", "warning");
                                        change_modal_visibility();
                                    }
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    var err = textStatus + ", " + error;
                                    addNotification("Canot open translation! <strong>Server error</strong>", "", "danger", 6000, "center");
                                    change_modal_visibility();
                                });
                    }
                    function change_modal_visibility() {
                        halfmoon.toggleModal('translations');
                    }
                    function update_translations_modal() {
                        ajax_update_translation($('#modal_input_id').val(), $('#modal_translations').val());
                        change_modal_visibility();
                        update_table($id, $new);
                    }
                    function update_translation($id) {
                        ajax_update_translation($id, $('#tran_input_' + $id).val());
                    }
                    function ajax_update_translation($id, $new) {
                        $.post("api/set/local/translations/" + $id, {"new": $new})
                                .done(function () {
                                    addNotification("Transaltion has been updated.", "", "success", 3000);
                                    $('#miss_tran_' + $id).remove();
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    var err = textStatus + ", " + error;
                                    addNotification("Canot update translation!", "", "danger", 6000, "center");
                                    addNotification(err, "", "warning");
                                });
                    }
                    function ajax_request_update($id) {
                        $.post("api/set/local/translations/request_update/" + $id)
                                .done(function () {
                                    addNotification("Request has been recorded.", "", "success", 3000);
                                    $('.card-header span').remove();
                                    $('.card-header').append('<span class="badge badge-primary badge-pill" onclick="ajax_abort_update_request(' + $id + ')">Pending update request</span>');
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    var err = textStatus + ", " + error;
                                    addNotification("Request failed", "", "danger", 6000, "center");
                                    addNotification(err, "", "warning");
                                });
                    }

                    function ajax_abort_update_request($id) {
                        if (confirm("Are you sure?")) {
                            $.post("api/set/local/translations/abort_update/" + $id)
                                    .done(function () {
                                        addNotification("Request has been recorded.", "", "success", 3000);
                                        $('.card-header span').remove();
                                        $('.card-header').append('<span onclick="ajax_request_update(' + $id + ')" class="badge badge-success badge-pill">Request upload to app</span>');
                                    })
                                    .fail(function (jqxhr, textStatus, error) {
                                        var err = textStatus + ", " + error;
                                        addNotification("Request failed", "", "danger", 6000, "center");
                                        addNotification(err, "warning");
                                    });
                        }
                    }

                    function delete_translation($id) {
                        $.post("api/set/local/translations/" + $id + "/delete")
                                .done(function (data) {
                                    if (data.status !== "success") {
                                        addNotification("", "Cannot delete translation!", "danger", 6000, "center");
                                    } else {
                                        addNotification("", "Transaltion has been deleted.", "success", 3000);
                                        data.data.each(function ($id) {
                                            $('#miss_tran_' + $id).remove();
                                            $('#tran_' + $id).remove();
                                        });
                                    }
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    var err = textStatus + ", " + error;
                                    addNotification("Canot update translation!", "", "danger", 6000, "center");
                                    addNotification(err, "warning");
                                });
                    }

                    $("#tran_search").keyup(function (event) {
                        if (event.keyCode === 13) {
                            addNotification("Missing implementation!", "danger");
                        }
                    });
                    $("input").keyup(function (event) {
                        if (event.keyCode === 13) {
                            update_translation(event.target.id.split("_")[2]);
                        }
                    });



</script>