<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Translations overview") ?>
    </h2>
    <div class = "row">
        <?php foreach ($apps as $category): ?>
            <div class = "col">
                <details class = "collapse-panel w-350 mw-full mt-20" open> <!--w-400 = width: 40rem (400px), mw-full = max-width: 100%, mt-20 = margin-top: 2rem (20px) -->
                    <summary class = "collapse-header">
                        <?= $category[0]['group_name'] ?>
                    </summary>
                    <div class = "collapse-content">
                        <table class="table table-no-outer-padding">
                            <tbody>
                                <?php foreach ($category as $app) : ?>
                                    <tr>
                                        <td>
                                            <a href="translations/<?= $app['app_id'] ?>">
                                                <?= $app['name'] ?>
                                            </a>
                                            <small>
                                                (<?= $app['adress'] ?>)

                                            </small>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown toggle-on-hover">

                                                <i class="fas fa-info-circle ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false"></i>

                                                <div class="dropdown-menu w-250 w-sm-350 dropdown-menu-right">
                                                    <div class="dropdown-content p-20">
                                                        <b>System: </b><?= $app['adress'] ?><br />

                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <div class="dropdown-content p-20">
                                                        <b>Responsible staff:</b><br />
                                                        <?php foreach ($app['responsible_staff'] as $staff) : ?>
                                                            <?php if ($staff['visible']) : ?>
                                                                <?= $staff['position'] ?> - <b><?= $staff['login_name'] ?></b> (<?= $staff['nickname'] ?>)
                                                                <br />
                                                            <?php endif ?>
                                                        <?php endforeach; ?>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="dropdown toggle-on-hover">

                                                <i class="fa fa-angle-down ml-5" aria-hidden="true" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false"></i>

                                                <div class="dropdown-menu dropdown-menu-right">

                                                    <a class="dropdown-item" href="auth/<?= $app['app_code'] ?>/auto"><?= Lang::str("Open with auth") ?></a>
                                                    <a class="dropdown-item" href="gen-time/<?= $app['id'] ?>"><?= Lang::str("Performance monitor") ?></a>
                                                    <a class="dropdown-item" href="<?= $app['url'] ?>"><?= Lang::str("Open without auth") ?></a>
                                                    <a class="dropdown-item" href="apps/<?= $app['id'] ?>"><?= Lang::str("App settings") ?></a>

                                                    <div class="dropdown-divider"></div>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        <?php endforeach; ?>
    </div>
</div>
