<div class="panel_block">
    <div class="table-container">
        <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <?php foreach ($admins['header'] as $value) : ?>
                        <th><?= $value ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($admins['data'] as $value) : ?>
                    <tr>
                        <?php foreach ($value as $value1) : ?>
                            <td><?= $value1 ?></td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>