<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            App <?= $app['name'] ?>
        </p>
        <?php if ($app['translation_update_request']) : ?>
            <span class="tag is-info">Pending translation update request</span>
        <?php endif; ?>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column">

                    <span class="tag is-success"> Last upload: <?= $app['trasnlations_last_upload'] ?></span><br>
                    <strong>Translations is available for this langs:</strong><br />
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <?php foreach (array_keys($langs[0]) as $thead) : ?>
                                        <th><?= ($thead) ?></th>
                                    <?php endforeach; ?>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($langs as $lang) : ?>
                                    <tr>
                                        <?php foreach ($lang as $key => $cell) : ?>
                                            <?php if ($key === "lang_id") : ?>
                                                <th><a href="langs/<?= $cell ?>"><?= $cell ?></a></th>
                                            <?php else: ?>
                                                <td><?= $cell ?></td>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                    <form method="POST" action="langs/new?app_id=<?= $app['id'] ?>">
                        <input type="text" name="lang_name" placeholder="lang name"/>
                        <input type="text" name="lang_code" placeholder="lang code"/>
                        <input type="submit" value="Create new lang" />
                    </form>
                    <br />
                    <form method="POST">
                        <?php foreach ($app as $key => $value) : ?>
                            <div class="field">
                                <label class="label"><?= $key ?></label>
                                <div class="control">
                                    <input class="input" readonly required
                                    <?php if (!in_array($key, $app_editable_fields)) : ?>
                                               disabled
                                           <?php endif; ?>
                                           name="<?= $key ?>"  value="<?= $value ?>">
                                </div>
                            </div>
                        <?php endforeach; ?>
                        <input type="submit" class="button is-success" value="Save" />
                    </form>
                </div>
            </div>
            <div class="column">
                <h5 class="title is-5">Responsibles staff:</h5>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <?php foreach (array_keys($responsible_staff[0]) as $thead) : ?>
                                    <th><?= ($thead) ?></th>
                                <?php endforeach; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($responsible_staff as $staff) : ?>
                                <tr id="staff_id::<?= $staff['id'] ?>">
                                    <?php foreach ($staff as $key => $cell) : ?>
                                        <?php if ($key === "id") : ?>
                                            <th><?= $cell ?></th>
                                        <?php elseif ($key === "translations" || $key === "visible" || $key === "position" || $key == "in_app_admin_level") : ?>
                                            <th class="inline_editable" data-element="<?= $key ?>"><?= $cell ?></th>
                                        <?php else: ?>
                                            <td><?= $cell ?></td>
                                        <?php endif; ?>


                                    <?php endforeach; ?>
                                    <td>

                                        <button class="button is-danger is-small" onclick="deleteStaff(<?= $app['id'] ?>)">
                                            Delete</button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>

                    </table>

                </div>
                <button class="button is-link is-small" onclick="addStaff(<?= $app['id'] ?>)">
                    Add new responsible staff</button>



            </div>
        </div>
    </div>
    <footer class="card-footer">
    </footer>

</div>


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add responsible staff</p>

            <button class="delete" aria-label="close" onclick="change_modal_visibility();"></button>

        </header>
        <section class="modal-card-body">
            <div class="select">
                <select onchange="add_staff_confirm(<?= $app['id'] ?>)">
                    <option selected disabled>Select</option>

                </select>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" disabled onclick="add_staff_confirm(<?= $app['id'] ?>);">Add staff</button>
            <button class="button" onclick="change_modal_visibility();">Cancel</button>
        </footer>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var elements = document.getElementsByClassName("inline_editable");
        for (var element of elements) {
            //console.log(element);
            element.addEventListener("dblclick", InlineEdit);
        }
    })
    var text;
    function InlineEdit(e) {
        text = e;
        var old = e.target.innerHTML;
        e.target.dataset.old = old;
        e.target.innerHTML = "<input value= " + old + ">";
        $("input").keyup(function (event) {
            if (event.keyCode === 13) {
                save(this);
            }
        });

    }
    var test;
    function save(e) {
        console.log(e)
        test = e;
        $.post("ajax/set/local/app/uppdate_staff/" + e.parentElement.parentElement.firstElementChild.innerText, {"col": e.parentElement.dataset.element, "data": e.value})
                .done(function () {
                    addNotification("Device has been deleted.", "success", 3000);
                    e.parentElement.innerHTML = e.value;
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    addNotification("Request failed", "danger", 6000, "center");
                    addNotification(err, "warning");
                    e.parentElement.innerHTML = e.parentElement.dataset.old;
                });
    }
    function change_modal_visibility() {
        $('.modal').toggleClass('is-active');
        $('html').toggleClass('is-clipped');
    }
    function addStaff($app_id) {
        change_modal_visibility();
        $.get("ajax/get/local/userlist")
                .done(function (data) {
                    $(data.data).each(function (index, item) {
                        $('select').append("<option value=\"" + item.user_id + "\">" + item.login_name + "</option>");
                    });
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    addNotification("Request failed", "danger", 6000, "center");
                    addNotification(err, "warning");
                });
    }

    function add_staff_confirm($app_id) {
        $.post("ajax/set/local/app/add_staff/", {"user_id": $('select').val(), "app_id": $app_id})
                .done(function () {
                    addNotification("Responsible staff has been added.", "success", 3000);
                    document.reload();
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    addNotification("Request failed", "danger", 6000, "center");
                    addNotification(err, "warning");
                });
    }
</script>