<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <?php foreach (array_keys($apps[1]) as $thead) : ?>
                    <th><?= ($thead) ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($apps as $app) : ?>
                <tr>
                    <?php foreach ($app as $key => $cell) : ?>
                        <?php if ($key === "id") : ?>
                            <th><a href="apps/<?= $cell ?>"><?= $cell ?></a></th>
                        <?php elseif ($key === "responsible_staff") : ?>
                            <td><?= json_encode($cell) ?></td>
                        <?php else: ?>
                            <td><?= $cell ?></td>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
            <?php endforeach; ?>
        </tbody>

    </table>
</div>


