<div class="columns is-tablet is-multiline">

    <?php foreach ($apps as $app) : ?>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
            <article class="panel is-<?= $app['color'] ?>">
                <div class="tooltip"><p class="panel-heading">
                        <?php if ($app['external']) : ?>
                            EXTERNAL:
                        <?php endif; ?>
                        <?= $app['name'] ?>

                    </p>
                    <span class="tooltiptext">
                        <b>System:</b><?= $app['adress'] ?><br />
                        <b>Responsible staff:</b><br />
                        <?php foreach ($app['responsible_staff'] as $staff) : ?>
                            <?php if ($staff['visible']) : ?>
                                <?= $staff['position'] ?> - <b><?= $staff['login_name'] ?></b> (<?= $staff['nickname'] ?>)
                                <small><?= $staff['mail'] ?></small><br />
                            <?php endif ?>
                        <?php endforeach; ?>
                    </span>
                </div>
                <?php if ($app['under_development']) : ?>
                    <a class="panel-block is-active has-text-warning">
                        Under development
                    </a>
                <?php endif ?>
                <?php if ($app['disabled']) : ?>
                    <a class="panel-block is-active has-text-danger">
                        App is disabled
                    </a>
                <?php endif ?>
                <div id="app_<?= $app['id'] ?>"></div>
                <div class="panel-block">
                    <div class="field is-grouped">
                        <p class="control">
                            <a href="<?= $app['url'] ?>"  class="button is-right is-success">
                                <?php if (!$app['external']) : ?>
                                    Login
                                <?php else : ?>
                                    Open
                                <?php endif; ?></a>
                        </p>
                        <?php if ($app['can_user_edit_translations']) : ?>
                            <p class="control is-right">
                                <a href="translations/<?= $app['id'] ?>"  class="button is-right is-warning">
                                    Translations</a></p>

                        <?php endif; ?>
                    </div>
                </div>
            </article>
        </div>
        <?php if (!$app['disabled'] && !$app['external']) : ?>
            <script> $(document).ready(function () {
                    getAditionalData('<?= $app['id'] ?>', 'app_<?= $app['id'] ?>');
                });</script>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<?php if (!$_SESSION['adminlogin']['isActive']) : ?>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
                    var OneSignal = window.OneSignal || [];
                    OneSignal.push(function () {
                        OneSignal.init({
                            appId: "007a2a99-738a-4c38-9c70-ae9a5f438c25",
                            promptOptions: {
                                /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
                                /* actionMessage limited to 90 characters */
                                actionMessage: "Please allow PUSH notification for messages from LDAP.",
                                /* acceptButtonText limited to 15 characters */
                                acceptButtonText: "ALLOW",
                                /* cancelButtonText limited to 15 characters */
                                cancelButtonText: "NO THANKS"
                            }
                        });
                        OneSignal.showSlidedownPrompt();
                    });
                    OneSignal.push(function () {
                        OneSignal.on('subscriptionChange', function (isSubscribed) {
                            if (isSubscribed) {
                                // The user is subscribed
                                //   Either the user subscribed for the first time
                                //   Or the user was subscribed -> unsubscribed -> subscribed
                                OneSignal.getUserId(function (userId) {
                                    setUserPUSHdevice(userId);
                                });
                            }
                        });
                        OneSignal.setExternalUserId(<?= $user['user_id'] ?>);
                        OneSignal.sendTags({
                            user_id: '<?= $user['user_id'] ?>',
                            admin_level: '<?= $user['admin_level'] ?>'
                        });
                        OneSignal.getUserId(function (userId) {
                            setUserPUSHdevice(userId);
                        });
                    });
    </script>
<?php endif; ?>