<article class="message is-danger">
    <div class="message-header">
        <p><?= $error_name ?></p>
    </div>
    <div class="message-body">
        <?= $_error_text ?>
    </div>
    <footer class="message-footer">
        <?php if (!isset($banned_ip)) : ?>
            <p class="message-footer-item">
                <span>
                    Back to <a href="dashBoard">dashBoard</a>
                </span>
            </p>
            <p class="message-footer-item">
                <span>
                    Report to admin - <a href="https://support.agilitysalt.eu/usertickets/new/portal_error">Support system</a>
                </span>
            </p>
        <?php endif; ?>
        <?php if (isset($banned_ip) && $banned_ip['allow_write_ticket']) : ?>
            <p class="message-footer-item">
                <span>
                    Report wrong ban to admin - <a href="https://support.agilitysalt.eu/usertickets/new/ip_ban">Support system</a>
                </span>
            </p>
        <?php endif; ?>
    </footer>
</article>