<form method="POST">
    <?php foreach ($lang as $key => $value) : ?>
        <div class="field">
            <label class="label"><?= $key ?></label>
            <div class="control">
                <input class="input" required

                       name="<?= $key ?>"  value="<?= $value ?>">
            </div>
        </div>
    <?php endforeach; ?>
    <input type="submit" class="button is-success" value="Save" />
</form>
