
<div class="columns">

    <div class="column is-full-mobile is-half is-offset-one-quarter">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Login to <?= $requested_app ?>
                </p>

            </header>
            <div class="card-content">
                <div class="content">
                    <form method="POST" >
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="username" placeholder="Login name" required autofocus autocomplete>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>

                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <input type="hidden" name="recaptcha" id="recaptcha" value="" />
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button class="button is-success">
                                    Login
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>