
<div class="columns">

    <div class="column is-full-mobile is-half is-offset-one-quarter">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Login to <?= $_requested_app ?>
                </p>

            </header>
            <div class="card-content">
                <div class="content">
                    <form method="POST" >
                        You are logged in as:
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="username" placeholder="Login name"
                                       value="<?= $user['login_name'] ?>" readonly disabled required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>

                            </p>
                        </div>
                        <input type="hidden" name="loginToApp"  value="1" />
                        <input type="hidden" name="recaptcha" id="recaptcha" value="" />
                        <?php if ($_SESSION['adminlogin']['isActive']) : ?>
                            <span class="tag is-danger">Admin login active. <strong> Do not </strong>
                                continue without permission from developer! </span>
                            <span class="tag is-warning"><strong> YOUR ACTION </strong>
                                will be logged and developer will be notified!</span>
                        <?php endif; ?>
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button class="button is-success" autofocus>
                                    Login to App
                                </button>
                                <a href="logout" class="button is-warning"> Logout</a>
                                <a href="dashBoard" class="button is-link"> Back to portal</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>