
<!DOCTYPE html>
<html>
    <head>
        <base href="/<?= SESSIONDOMAIN ?>" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><?= $title ?></title><script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="js/script.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://www.google.com/recaptcha/api.js?render=6LdqoK0UAAAAAA3yh4huyL1yfnT_zCAw5MUPt7Fl"></script>
        <script>
            grecaptcha.ready(function () {
                grecaptcha.execute('6LdqoK0UAAAAAA3yh4huyL1yfnT_zCAw5MUPt7Fl', {action: 'loginLDAP'}).then(function (token) {
                    $('#recaptcha').val(token);

                });
            });
        </script>
    </head>
    <body>

        <section class="section">

            <?php if ($_SESSION['adminlogin']['isActive']) : ?>
                <div style="width: 100%; border: 3px solid black; background:#E37B1A; height: auto; text-align: center">
                    AdminLogin active (<font color="green">User name: <?= $user['login_name'] ?>; id:
                    <?= $user['internal_id'] ?></font>)
                    Admin name: <?= $_SESSION['adminlogin']['data']['login_name'] ?> <a href="adminlogin/logback">End Admin session</a></div>
            <?php endif; ?>
            <div id="alerts">
                <?php foreach ($messages as $message) : ?>

                    <div class="notification is-<?= $message['color'] ?>">
                        <button class="delete"></button>
                        <?= $message['message'] ?>
                    </div>

                <?php endforeach ?>
            </div>
            <div class="container">
                <?php $this->controler->renderView(); // vložení aktuálního pohledu do šablony ?>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Verze <?= APPVERSION ?> © 2020 <?= SESSIONDOMAIN ?>
                </p>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    </body>
</html>

