<div class="control">
    <button  class="button is-warning" onclick="changePasswordChangerVisibility();">Change password</button>
</div>
<form method="POST">
    <div class="field">
        <label class="label">User id</label>
        <div class="control">
            <input class="input" readonly required  disabled name="user_id" type="number" value="<?= $user_edit['user_id'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" required disabled type="text" name="login_name" readonly value="<?= $user_edit['login_name'] ?>">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>

    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="email" required  value="<?= $user_edit['mail'] ?>">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </div>

    </div>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" name="name" type="text" value="<?= $user_edit['name'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">Surname</label>
        <div class="control">
            <input class="input" name="surname" type="text" value="<?= $user_edit['surname'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">Nickname</label>
        <div class="control">
            <input class="input" name="nickname" required type="text" value="<?= $user_edit['nickname'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">Birth date</label>
        <div class="control">
            <input class="input" name="birth_date" type="text" value="<?= $user_edit['birth_date'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">Telephone</label>
        <div class="control">
            <input class="input" name="mobile" type="tel" value="<?= $user_edit['mobile'] ?>">
        </div>
    </div>
    <div class="field">
        <label class="label">User Level</label>
        <div class="control">
            <input class="input" name="admin_level" type="number" disabled value="<?= $user['admin_level'] ?>">
        </div>
    </div>
    <div class="field is-grouped is-right">
        <div class="control">
            <?php if ($can_change_profile) : ?>
                <input type="submit" value="submit" class="button is-link" />
            <?php else : ?>
                Ask admin for change!-->
            <?php endif; ?>
        </div>
        <div class="control">
            <button  class="button is-warning" onclick="changePasswordChangerVisibility();">Change password</button>
        </div>
    </div>
</form>
<div class="field">
    <label class="label">Local rights:</label>
    <div class="control">


        <?php foreach ($user['rights'] as $key => $value) : ?>
            <?php if ($key == "admin") : ?>
                <?php foreach ($value as $key_admin => $value_admin) : ?>
                    <?php if ($value_admin['edit'] != 0) : ?>
                        <label class="checkbox" disabled>
                            <input type="checkbox" disabled
                            <?php if ($value_admin['edit'] != 0) : ?>
                                       checked
                                   <?php endif; ?>
                                   name="admin::<?= $key_admin ?>">
                                   <?= $key_admin ?>
                        </label>
                    <?php endif; ?>
                <?php endforeach; ?>
                <br />
                <label class="label">Remote rights:</label>
            <?php else : ?>
                <?php if ($value == 1) : ?>
                    <label class="checkbox " disabled>
                        <input type="checkbox" disabled
                        <?php if ($value == 1) : ?>
                                   checked
                               <?php endif; ?>

                               name="<?= $key ?>">
                               <?= $key ?>
                    </label>

                    <div style="padding-left:15px"  id="<?= $key ?>"></div>
                    <script> $(document).ready(function () {
                            getRemoteRights('<?= $key ?>');
                        });</script>

                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>


PUSH devices:
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <?php foreach (array_keys($user_devices[0]) as $thead) : ?>
                    <th><?= ($thead) ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($user_devices as $user) : ?>
                <tr>
                    <?php foreach ($user as $key => $cell) : ?>

                        <td><?= $cell ?></td>

                    <?php endforeach; ?>
                    <td><button class="button" onclick="delete_device(this)"><span class="icon has-text-danger">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>

    </table>
</div>


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Change password</p>
            <button class="delete" aria-label="close" onclick="changePasswordChangerVisibility()"></button>
        </header>
        <section class="modal-card-body">
            <form method="POST" action="profile/changePassword">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Password" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" name="password_again" placeholder="Password again" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
        </section>
        <footer class="modal-card-foot">
            <input type="submit" class="button is-success" value="Save changes" />
            </form>
            <button class="button" onclick="changePasswordChangerVisibility()">Cancel</button>
        </footer>
    </div>
</div>

<script>
    var ele;
    function delete_device(e) {
        let a = e.parentElement.parentElement;
        console.log(a.firstElementChild.innerText);
        if (confirm("Are you sure to delete device? This will delete app id from server and next resubscribe will need delete all web data in browser! \n\n Do it only if you know what will happend")) {
            alert("This operations can not be undone. To disable notification, use bell on dashBoard");
            if (confirm("Are you sure?")) {
                $.post("ajax/set/local/PUSH/delete_device/" + a.firstElementChild.innerText)
                        .done(function () {
                            a.remove();
                            addNotification("Device has been deleted.", "success", 3000);
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            addNotification("Request failed", "danger", 6000, "center");
                            addNotification(err, "warning");
                        });
            }
        }
    }
</script>