
<!DOCTYPE html>
<html>
    <head>
        <base href="/<?= SESSIONDOMAIN ?>" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, , shrink-to-fit=no">
        <title><?= $title ?></title>
        <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon">
        <meta name="theme-color" content="#ffcc00">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="js/script.js"></script>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="dashBoard">
                    <img src="images/logo.png"
                         height="50">
                </a>
                <a class="navbar-item" onclick="togle_notifications();">
                    <span class="icon is-small">
                        <i class="fas fa-envelope"></i>
                    </span>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample" onclick="changeMenuVisibility()">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item" href="dashBoard">

                        DashBoard
                    </a>
                    <?php if (isset($user)) : ?>
                        <a class="navbar-item" href="profile">
                            Profile
                        </a>

                        <a class="navbar-item" href="admin">

                            Admin
                        </a>
                        <a class="navbar-item" href="apps">

                            Apps
                        </a>
                        <a class="navbar-item" href="translations">

                            Translations
                        </a>
                        <a class="navbar-item" href="mail">

                            Mails
                        </a>

                    <?php endif; ?>

                    <!--<div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>-->
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <?php if (isset($user)) : ?>

                                <a class="button is-primary" href="logout">
                                    <span class="icon is-small">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <strong>Odhlásit</strong>
                                </a>
                            <?php endif; ?>
                            <span class="tag">
                                <?php if (isset($user)) : ?>

                                    <small>User: </small> <strong><?= $user['login_name'] ?></strong>

                                <?php else : ?>
                                    <small class="has-text-danger">No User logged in </small>
                                <?php endif; ?>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">

            <?php if ($_SESSION['adminlogin']['isActive']) : ?>
                <div style="width: 100%; border: 3px solid black; background:#E37B1A; height: auto; text-align: center">
                    <strong>AdminLogin</strong> active (<font color="green">User name: <?= $user['login_name'] ?>; id:
                    <?= $user['user_id'] ?></font>)
                    Admin name: <?= $_SESSION['adminlogin']['data']['login_name'] ?> <a href="login/adminlogin/logback">End Admin session</a></div>
            <?php endif; ?>
            <div id="alerts">
                <?php foreach ($messages as $message) : ?>

                    <div class="notification is-<?= $message['color'] ?>">
                        <button class="delete"></button>
                        <?= $message['message'] ?>
                    </div>

                <?php endforeach ?>
            </div>
            <div class="container">
                <?php $this->controler->renderView(); // vložení aktuálního pohledu do šablony ?>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Verze <?= APPVERSION ?> © 2020 <?= SESSIONDOMAIN ?>
                </p>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="https://topescape.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-egccmf/b/24/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=d4a1c7d8"></script>


</html>

