<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Translations for <?= $app['name'] ?>
        </p>
        <?php if ($app['translation_update_request']) : ?>
            <span class="tag is-info" onclick="ajax_abort_update_request(<?= $app['id'] ?>)">Pending update request</span>
        <?php else : ?>
            <a onclick="ajax_request_update(<?= $app['id'] ?>)" class="card-header-icon">
                Request upload to app
            </a>
        <?php endif; ?>
    </header>
    <div class="card-content">
        <div class="content">
            <span class="tag is-success"> Last upload: <?= $app['trasnlations_last_upload'] ?></span><br>
            <strong>Translations is available for this langs:</strong><br />
            <?php foreach ($supported_lang as $lang) : ?>
                <a href='translations/<?= $app['id'] ?>/<?= $lang['lang_code'] ?>'><?= $lang['lang_name'] ?></a> - <?= $lang['lang_code'] ?>
                <?php if (!$lang['lang_can_be_uploaded']) : ?>
                    <span class="tag is-warning">Can not be downloaded to app (possibly waiting for all translations)</span>
                <?php endif; ?>
                <br />
            <?php endforeach; ?>
        </div>
    </div>
    <footer class="card-footer">
    </footer>
    <div class="card-content">
        <div class="content">
            <div class="table-container">
                <h5 class="title is-5">Missing translations:</h5>
                <?php if (count($missing_translations) > 0) : ?>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lang</th>
                                <th>Original</th>
                                <th>Translation</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php foreach ($missing_translations as $tran) : ?>
                                <tr id="miss_tran_<?= $tran['tran_id'] ?>">
                                    <td><?= $tran['lang_code'] ?></td>
                                    <td class="tooltip"><?= substr($tran['original'], 0, 20) ?> <?php if (strlen($tran['original']) > 19) echo('...'); ?><span class="tooltiptext"><?= $tran['original'] ?></span></td>
                                    <td><input class="input is-small is-rounded" id="tran_input_<?= $tran['tran_id'] ?>" value="<?= $tran['translations'] ?>" /></td>
                                    <td>
                                        <button class="button is-success is-small is-rounded"
                                                onclick="update_translation(<?= $tran['tran_id'] ?>)">
                                            <span>Save</span> <span class="icon is-small">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </button>
                                        <button class="button is-primary is-small is-rounded"
                                                onclick="open_translation(<?= $tran['tran_id'] ?>)">
                                            <span>Open</span> <span class="icon is-small">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                <?php else : ?>
                    <p>There is no missing translations! :)</p>
                <?php endif; ?>
            </div>
        </div>
    </div>

    <footer class="card-footer">
    </footer>
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column is-full-mobile is-one-third is-offset-one-third">
                    <!--<input class="input is-small is-rounded" id="tran_search" placeholder="Search (press enter to filter)"/> -->
                </div>
            </div>

        </div>
    </div>
    <div class="card-content">
        <div class="content">
            <div class="table-container">
                <h5 class="title is-5">Translations:</h5>
                <?php if (count($translations) > 0) : ?>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Lang</th>
                                <th>Original</th>
                                <th>Translation</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <?php foreach ($translations as $tran) : ?>
                                <tr id="tran_<?= $tran['tran_id'] ?>">
                                    <td><?= $tran['lang_code'] ?></td>
                                    <td class="tooltip"><?= substr($tran['original'], 0, 20) ?> <?php if (strlen($tran['original']) > 19) echo('...'); ?><span class="tooltiptext"><?= $tran['original'] ?></span></td>
                                    <td><input class="input is-small is-rounded" id="tran_input_<?= $tran['tran_id'] ?>" value="<?= $tran['translations'] ?>" /></td>
                                    <td>
                                        <button class="button is-success is-small is-rounded"
                                                onclick="update_translation(<?= $tran['tran_id'] ?>)">
                                            <span>Save</span> <span class="icon is-small">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </button>
                                        <button class="button is-primary is-small is-rounded"
                                                onclick="open_translation(<?= $tran['tran_id'] ?>)">
                                            <span>Open</span> <span class="icon is-small">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </button>
                                        <!--<button class="button is-danger is-small is-rounded"
                                                onclick="delete_translation(<?= $tran['tran_id'] ?>)">
                                            <span>Delete</span> <span class="icon is-small">
                                                <i class="fas fa-delete"></i>
                                            </span>
                                        </button>-->
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                <?php else : ?>
                    <p>There is no strings for translations! :)</p>
                <?php endif; ?>
            </div>
        </div>
    </div>

</div>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Translations edit:</p>
            <span class="tag is-primary" id="modal_lang"></span>
            <button class="delete" aria-label="close" onclick="change_modal_visibility();"></button>
        </header>
        <section class="modal-card-body">
            <input type="hidden" value="" id="modal_input_id"/>
            <div class="field">
                <label class="label">Original:</label>
                <div class="control">
                    <textarea class="textarea" disabled id="modal_original"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Translations:</label>
                <div class="control">
                    <textarea class="textarea" id="modal_translations"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="update_translations_modal();">Save changes</button>
            <button class="button" onclick="change_modal_visibility();">Cancel</button>
        </footer>
    </div>
</div>
<link rel="stylesheet" href="css/jodit.min.css">
<script src="js/jodit.min.js"></script>

<script>
                function open_translation($id) {
                    change_modal_visibility();
                    $('.modal-card-body').prepend('<progress class="progress is-primary" max="100">15%</progress>');
                    $.getJSON("ajax/get/local/translations/" + $id)
                            .done(function (result) {
                                if (result.status === "success") {
                                    if (document.getElementsByClassName("jodit_container").length != 0) {
                                        document.getElementsByClassName("jodit_container")[0].parentNode.removeChild(document.getElementsByClassName("jodit_container")[0]);
                                        document.getElementById("modal_translations").style['display'] = "";
                                    }
                                    $('#modal_original').text(result.data.original);
                                    $('#modal_translations').val(result.data.translations);
                                    $('#modal_lang').text(result.data.lang_name + " (" + result.data.lang_code + ")");
                                    $('#modal_input_id').val($id);
                                    if (result.data.rich_editor === 1) {
                                        var editor = new Jodit("textarea[id=modal_translations]");
                                    }
                                    $('progress').remove();
                                } else {
                                    addNotification("Canot open translation!", "danger", 6000, "center");
                                    addNotification(result.status, "warning");
                                    change_modal_visibility();
                                }
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                var err = textStatus + ", " + error;
                                addNotification("Canot open translation! <strong>Server error</strong>", "danger", 6000, "center");
                                change_modal_visibility();
                            });
                }
                function change_modal_visibility() {
                    $('.modal').toggleClass('is-active');
                    $('html').toggleClass('is-clipped');
                }
                function update_translations_modal() {
                    ajax_update_translation($('#modal_input_id').val(), $('#modal_translations').val());
                    change_modal_visibility();
                    update_table($id, $new);
                }
                function update_translation($id) {
                    ajax_update_translation($id, $('#tran_input_' + $id).val());
                }
                function ajax_update_translation($id, $new) {
                    $.post("ajax/set/local/translations/" + $id, {"new": $new})
                            .done(function () {
                                addNotification("Transaltion has been updated.", "success", 3000);
                                $('#miss_tran_' + $id).remove();
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                var err = textStatus + ", " + error;
                                addNotification("Canot update translation!", "danger", 6000, "center");
                                addNotification(err, "warning");
                            });
                }
                function ajax_request_update($id) {
                    $.post("ajax/set/local/translations/request_update/" + $id)
                            .done(function () {
                                addNotification("Request has been recorded.", "success", 3000);
                                $('.card-header a').remove();
                                $('.card-header').append('<span class="tag is-info" onclick="ajax_abort_update_request(' + $id + ')">Pending update request</span>');
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                var err = textStatus + ", " + error;
                                addNotification("Request failed", "danger", 6000, "center");
                                addNotification(err, "warning");
                            });
                }

                function ajax_abort_update_request($id) {
                    if (confirm("Are you sure?")) {
                        $.post("ajax/set/local/translations/abort_update/" + $id)
                                .done(function () {
                                    addNotification("Request has been recorded.", "success", 3000);
                                    $('.card-header span').remove();
                                    $('.card-header').append('<a onclick="ajax_request_update(' + $id + ')" class="card-header-icon">Request upload to app</a>');
                                })
                                .fail(function (jqxhr, textStatus, error) {
                                    var err = textStatus + ", " + error;
                                    addNotification("Request failed", "danger", 6000, "center");
                                    addNotification(err, "warning");
                                });
                    }
                }

                function delete_translation($id) {
                    $.post("ajax/set/local/translations/" + $id + "/delete")
                            .done(function (data) {
                                if (data.status !== "success") {
                                    addNotification("Canot delete translation!", "danger", 6000, "center");
                                } else {
                                    addNotification("Transaltion has been deleted.", "success", 3000);
                                    data.data.each(function ($id) {
                                        $('#miss_tran_' + $id).remove();
                                        $('#tran_' + $id).remove();
                                    });
                                }
                            })
                            .fail(function (jqxhr, textStatus, error) {
                                var err = textStatus + ", " + error;
                                addNotification("Canot update translation!", "danger", 6000, "center");
                                addNotification(err, "warning");
                            });
                }

                $("#tran_search").keyup(function (event) {
                    if (event.keyCode === 13) {
                        addNotification("Missing implementation!", "danger");
                    }
                });
                $("input").keyup(function (event) {
                    if (event.keyCode === 13) {
                        update_translation(event.target.id.split("_")[2]);
                    }
                });



</script>