<div class="columns is-tablet is-multiline">

    <?php foreach ($apps as $app) : ?>
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
            <article class="panel is-<?= $app['color'] ?>">
                <div class="tooltip"><p class="panel-heading">
                        <?php if ($app['external']) : ?>
                            EXTERNAL:
                        <?php endif; ?>
                        <?= $app['name'] ?>

                    </p>
                    <span class="tooltiptext">
                        <b>System:</b><?= $app['adress'] ?><br />
                        <b>Responsible staff:</b><br />
                        <?php foreach ($app['responsible_staff'] as $staff) : ?>
                            <?= $staff['position'] ?> - <b><?= $staff['login_name'] ?></b> (<?= $staff['nickname'] ?>)
                            <small><?= $staff['mail'] ?></small><br />
                        <?php endforeach; ?>
                    </span>
                </div>
                <?php if ($app['under_development']) : ?>
                    <a class="panel-block is-active has-text-warning">
                        Under development
                    </a>
                <?php endif ?>
                <?php if ($app['disabled']) : ?>
                    <a class="panel-block is-active has-text-danger">
                        App is disabled
                    </a>
                <?php endif ?>
                <div id="app_<?= $app['app_id'] ?>"></div>
                <div class="panel-block is-right">
                    <a href="/translations/<?= $app['app_id'] ?>" class="button is-right is-success">
                        <?php if (!$app['external']) : ?>
                            Edit translations

                        <?php endif; ?></a>
                </div>
            </article>
        </div>

    <?php endforeach; ?>
</div>

