<form method="POST">
    <div class="column">
        <?php foreach ($user_edit as $key => $value) : ?>
            <div class="field ">
                <label class="label"><?= $key ?></label>
                <div class="control">
                    <input class="input"
                    <?php if (!in_array($key, $user_editable_fields)) : ?>
                               disabled
                           <?php endif; ?>
                           name="<?= $key ?>"  value="<?= $value ?>">
                </div>
            </div>
        <?php endforeach; ?>


    </div>

    <div class="field">
        <label class="label"><?= ("Rights"); ?>:</label>
        <div class="control">


            <?php foreach ($rights as $key => $value) : ?>


                <p>
                    <label class="checkbox">
                        <input type="checkbox"
                        <?php if ($value['value'] > 0) : ?>
                                   checked
                               <?php endif; ?>
                               <?php if ($value['granteable'] == 0 && $_SESSION['user']['admin_level'] < 4) : ?>
                                   disabled
                               <?php endif; ?>
                               name="admin::<?= $value['name'] ?>"
                               >
                               <?= $value['visible_name'] ?>
                    </label>

                    <?php if ($value['can_download_ext_rigths']) : ?>
                    <div style="padding-left:15px" id="<?= $value['name'] ?>"></div>
                    <script> $(document).ready(function () {
                            getRemoteRights('<?= $value['name'] ?>');
                        });</script>
                <?php endif; ?>
                </p>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="field is-grouped is-right buttons">

        <input type="submit" class="button is-success" value="<?= ("Save"); ?>" />


        <a class="button is-danger" href="admin/<?= $user_edit['user_id'] ?>/rebase_rules"><?= ("Rebase rules"); ?></a>
        <a class="button is-primary" href="admin/<?= $user_edit['user_id'] ?>/admin_login"><?= ("Admin login"); ?></a>
    </div>
</form>


