<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <?php foreach (array_keys($users[0]) as $thead) : ?>
                    <th><?= ($thead) ?></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($users as $user) : ?>
                <tr>
                    <?php foreach ($user as $key => $cell) : ?>
                        <?php if ($key === "user_id") : ?>
                            <th><a href="admin/<?= $cell ?>"><?= $cell ?></a></th>
                        <?php else: ?>
                            <td><?= $cell ?></td>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
            <?php endforeach; ?>
        </tbody>

    </table>
</div>


